@font-face {
    font-family: fonte01;
    src: url(PalanquinDark-Bold.ttf);
}
@font-face {
    font-family: fonte02;
    src: url(Montserrat-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: fonte01, fonte02;
}
body{
    background: #fff;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}
main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}
main .social-media{
    display: flex;
    align-content: center;
}
main .social-media a{
    text-decoration: none;
}
main .social-media img{
    width: 36px;
    margin-left: 3rem;
}
main .social-media a:first-child img{
    margin-left: 0;
}
main .alternative {
    margin-top: 1rem;
}
main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    position: relative;
}
main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: black
}
main .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label{
    display: flex;
    flex-direction: column;
}
main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}
main form input{
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040b18;
}
main form input[ type="submit"]{
    cursor: pointer;
    width: 70%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #25b7ef;
    color: #fff;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}
main form input[type="submit"]:hover{
    background: #114897;
}
    section.images{
        display: flex;
        align-items: flex-end;
        padding: 4rem;
    }
    section.images img{
        width: 90%;

    }
    section.images .circle {
        position: absolute;
        height: 115%;
        width: 115%;
        top: 0;
        left: -6%;
        background: linear-gradient(45deg, #005186, #469EDA);
        clip-path: circle(40% at right 80%);
        z-index: -1;
    }
